*
{
    margin: 0;
    padding: 0;
}

.headerImage
{
    background-image:
    url(pic1.jpg);
    height:  100vh;
    background-size: cover;
    background-position: center; 
    margin-top: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;

}

.main-nav li a
{
    color:white;
    text-decoration: none;
    padding: 5px 20;
    font-family: "Roboto", 'Lucida Sans Regular', sans-serif;
    font-size: 20px;
}
.main-nav li.active a
{
    border: 2px solid darkorange;
}
.main-nav li a:hover
{
    border: 2px solid darkorange;
}

.logo img
{
    width: 200px;
    height: auto;
    float: left;
    border-radius: 50%;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.options
{
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;

}

h1
{ 
    color:darkorange;
    text-transform: inherit;
    font-size: 55px;
    text-align: center;
    margin-top: 200px;
}

p
{
    color:darkmagenta;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: inherit;
    margin-left: 175px;
    background-color: darkorange;
    border-radius: 175%;
}

p1
{
    color:darkmagenta;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: inherit;
    margin-left: 500px;
    background-color: darkorange;
    border-radius: 175%;
}
.footer {
	position: fixed;
	left: 0;
	width: 200%;
	height: 9%;
	background-color: black;
	text-align: justify;
	bottom: 0%;
	
  }

  .image1 {
	position: absolute;
    left: 22%;
    bottom: 4px;
    width: 60px;
    height: 48px;
    margin-left: -20px;
  } 
  
.image2 {
	position: absolute;
    left: 27%;
    bottom: -1px;
    width: 54px;
    height: 48px;
    margin-left: -20px;
  }