*
{
    margin: 0;
    padding: 0;
}

.headerImage
{
    background-image:
    url(pic1.jpg);
    height:  100vh;
    background-size: cover;
    background-position: center; 
    margin-top: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;

}

.main-nav li a
{
    color:white;
    text-decoration: none;
    padding: 5px 20;
    font-family: "Roboto", 'Lucida Sans Regular', sans-serif;
    font-size: 20px;
}
.main-nav li.active a
{
    border: 2px solid darkorange;
}
.main-nav li a:hover
{
    border: 2px solid darkorange;
}

.logo img
{
    width: 200px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;

}

h1
{
    color: darkmagenta;
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
    margin-top: 275px;

}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn 
{
    border: 1px solid rgb(161, 19, 197);
    padding: 10px 30px;
    color: rgb(161, 19, 197);
    text-decoration: none;
    margin-right: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-one
{
    background-color: darkorange;
    font-family: "Roboto", 'Lucida Sans Regular', sans-serif;
}

.btn-two
{
    font-family: "Roboto", 'Lucida Sans Regular', sans-serif;
}

.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}

.btn-three
{
    font-family: "Roboto", 'Lucida Sans Regular', sans-serif;
}

.btn-three:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}

.footer {
	position: fixed;
	left: 0;
	width: 200%;
	height: 9%;
	background-color: black;
	text-align: justify;
	bottom: 0%;
	
  }

  .image1 {
	position: absolute;
    left: 22%;
    bottom: 4px;
    width: 60px;
    height: 48px;
    margin-left: -20px;
  } 
  
.image2 {
	position: absolute;
    left: 27%;
    bottom: -1px;
    width: 54px;
    height: 48px;
    margin-left: -20px;
  }