* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/project_imgs/ef35Lo.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  
}

#hexGrid {
  /* display: grid; */
  display: flex;
  place-items: center;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  width: 30%;
  margin: 5px 450px;
  overflow: hidden;
  font-family: "Roboto", "Lucida Sans Regular", sans-serif;
  font-size: 13px;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(231, 239, 247);
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: rgba(39, 144, 214, 0.658);
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.0em;
  z-index: 1;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid rgba(69, 113, 233, 0.74);
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

















.logo {
  /* background-image: url(Image\ from\ iOS\ \(2\).jpg); */
  background-size: contain;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 70px;
  margin-left: 570px;
  display: flex;
  box-shadow: 0 0 5px  rgb(8, 65, 109), 0 0 10px  rgb(8, 65, 109) inset, 0 0 30px rgb(8, 65, 109) inset;
  filter: grayscale(0.4);
  position: absolute;
  border: 2px solid  rgb(50, 104, 145);
} 

.row {
  max-width: 1200px;
}

.resume-main,
.about-main,
.contact-main{
  margin-top: 240px;
}

.resume-main {
  margin-top: 70px;  
  margin-left: auto;
  margin-right: auto;
}
        
iframe {
          height: 80vh;
          width: 68vw;
        }


.about-main,
.contact-main {
  background-color:  rgba(181, 197, 211, 0.781);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: "Roboto", "Lucida Sans Regular", sans-serif;
  font-size: 15pt;
  text-indent: 10px;
  text-shadow: 0 0 2px rgb(98, 116, 151);
}
main {
  margin-top: 100px;
}

p::first-letter {
  font-size: 20pt;
  font-weight: bold;
}

 /* @media screen and (min-width:750px) */
 /* @media screen and (max-width:749px) */

@media only screen and (max-width: 1400px) {
  .stretch {
    min-height: 800px;
  }
}


.contact-main a {
  color: black;
  text-decoration: none;
}
.contact-main div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-title {
  text-align: center;
}

hr {
  border: 1px solid black;
}
.skills-title {
  text-align: center;
}
.skills-title::first-letter {
  text-transform: uppercase;
  font-size: 25pt;
}

.image-bar img {
  height: 100px;
  width: auto;
  border-radius: 50%;
}
.image-bar div {
  height: 100px;
  width: 100px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid rgb(117, 188, 255);
  padding: 3px;
  -webkit-box-reflect: below 2px -webkit-gradient(linear, right top, right
        bottom, from(transparent), to(rgba(255, 255, 255, 0.4)));
}

.image-bar div:hover,
.image-bar img:hover {
  height: 150px;
  width: auto;
  transition: all 1s ease;
}
.image-bar div:hover {
  margin-top: -25px;
}

.image-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}
.about-main p::first-letter {
  font-size: 20pt;
  font-weight: bold;
}


.button {
  list-style-type: none;
  right: 50px;
  display: flex;
  flex-direction: row;
  top: 30px;
  position: absolute;
}

.btn {
  border: 2px solid rgba(250, 250, 253, 0.432);
  padding: 10px 30px;
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: rgba(84, 158, 214, 0.7);
  font-family: "Roboto", "Lucida Sans Regular", sans-serif;
  text-shadow: 0 0 2px  white, 0 0 2px w;
  font-weight: bold;
  border-radius: 20px;
}

.btn:hover {
  background-color:  rgba(255, 255, 255, 0.795);
  transition: all 0.5s linear;
}

header{
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: black;
  top: 0;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: black;
  bottom: 0;
  display: flex;
  flex-direction: row;
  line-height: 60px;
}

.image1 {
  width: 60px;
  height: 48px;
  margin: 5px 20px;
}


.name {
  margin-left: 450px;
  font-size: 1.8em;
  text-transform: uppercase;
  color: rgb(50, 104, 145);
}

@media only screen and (max-width: 800px) {
  .button {
    flex-direction: column;
  }
  .button li {
    display: flex;
    justify-content: center;
  }

  /* main {
    margin-top: 400px;
  } */
}
